.form-container {
  padding: 25px 30px;
}

.blog-form {
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start; 
  background-color:rgb(255, 255, 255); 
  padding: 20px;
  border-radius: 8px;
  gap: 15px; /* Form elemanları arasında boşluk ekler */
  /* box-shadow: 0 0 10px rgba(183, 76, 76, 0.934); */
}

.blog-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-input label {
  margin-bottom: 5px;
}

.blog-input input,
.blog-input textarea {
  padding: 8px;
  border: 1px solid #e097972a;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px; 
}

button {
  padding: 10px 20px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .blog-form {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .blog-input {
    width: 100%;
    margin-bottom: 15px; /* Alt boşluk ekler */
  }

  .blog-input label {
    width: 100%;
  }

  .blog-input input,
  .blog-input textarea {
    width: 100%;
  }
 .form-container {

 }

}

@media (max-width: 480px) {
  .form-container {
    padding: 15px 20px;
  }

  .blog-form {
    padding: 15px;
  }

  .blog-input {
    padding: 5px;
  }

  button {
    padding: 8px 10px;
  }
}
