.form-container {
    .form-container {
      background-color: #b86767;
      padding: 25px 30px;
      }
  }
  
  .blog-form {
    display: flex;
    flex-direction: wrap; /* Yatay düzen */
    align-items: center; /* Dikeyde ortalamak için */
    background-color: #f9f9f9; /* Form arka plan rengi */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
  }
  
  .blog-input {
    display: flex;
    flex-direction: column; /* Etiket ve girdi elemanlarını dikey olarak düzenler */
    margin-right: 15px; /* Girdi elemanları arasına boşluk ekler */
  }
  
  .blog-input label {
    margin-bottom: 5px;
  }
  
  .blog-input input,
  .blog-input textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
  }
  