.textarea-wide {

   width: 100%; 
    height: 150px;
    background-color: rgba(59, 162, 31, 0.175);
    box-sizing: border-box; 
    resize: none; 
  }
  .textarea-wide::placeholder{
    color: rgb(245, 245, 245);
  }