/* src/components/FormContainer.css */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Sayfanın kenarlarına biraz boşluk ekler */
  }
  
  .blog-form, .blog-edit-form {
    display: flex;
    flex-direction: column; /* Form elemanlarını dikey düzenler */
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 15px;
    max-width: 800px; /* Maksimum genişlik belirler */
    width: 100%;
  }
  
  .blog-input {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Girdi elemanları arasında boşluk ekler */
  }
  
  .blog-input label {
    margin-bottom: 5px;
  }
  
  .blog-input input,
  .blog-input textarea {
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  input[type="text"] {
    padding: 10px;
    margin: 1px 0;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  
  
  }
  