.header {
    background-color: #898e871e;
    padding: 20px 0;
    color: rgb(194, 134, 222);
    text-align: center;
    box-shadow: 0 4px 6px rgba(127, 57, 157, 0.16);
    margin-top: 20px; 
}

.header-title {
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

